<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="css/auth-styles/style.css">
</head>

<body>
    {{>navbar}}
    <div id="content">
        {{#if message}}
        <h1>{{message}}</h1>
        {{else}}
        <div>
            <h1>Build Better Habits , Build a Better Life</h1>
        </div>
        <div>
            <h3>See how it works <i class="fas fa-chevron-down"></i></h3>
            
            <h1><iframe src="https://drive.google.com/file/d/19ueQFb_D029AD8z7cJJhOramdya5yTux/preview"></iframe></h1>
        </div>
        {{/if}}
    </div>
    {{>footer}}
    
</body>

</html>
